<template>
    <section class="start">
        <h1 class="start__title">Trivia Game</h1>
        <div v-if="fetchingError" class="gameError">
            Game is currently unavaiable, try again later.
        </div>
        <div v-else class="start-settings">
            <div>
                <label class="start-settings__label" for="difficulty">Difficulty</label>
            </div>
            <div>
                <select v-model="selectedSettings.difficulty" class="start-settings__select" name="difficulty" id="difficulty">
                    <option value="easy">Easy</option>
                    <option value="medium">Medium</option>
                    <option value="hard">Hard</option>
                </select>
            </div>
            <div>
                <label class="start-settings__label" for="amountOfQuestions">Number of questions</label>
            </div>
            <div>
                <input v-model="selectedSettings.amountOfQuestions" class="start-settings__input" 
                type="number" min="1" max="10" name="amountOfQuestions" id="amountOfQuestions" />
            </div>
            <div>
                <label class="start-settings__label" for="category">Category</label>
            </div>
            <div>
                <select v-model="selectedSettings.categoryId" class="start-settings__select" name="category" id="category">
                    <option v-for="category in categories" :key="category.id" :value="category.id">
                        {{ category.name }}
                    </option>
                </select>
            </div>
        </div>
        <div v-if="!fetchingError">
            <button @click="fetchQuestions" class="start__button">
                <i class="fa fa-play-circle-o" aria-hidden="true"></i> Start
            </button>
        </div>
    </section>  
</template>

<script>
import { mapState, mapActions} from 'vuex';

export default {
    name: 'Start',
    computed: {
        ...mapState(['categories', 'selectedSettings', 'fetchingError'])
    },
    methods: {
        ...mapActions(['fetchCategories', 'fetchQuestions']),
    },
    async created() {
        await this.fetchCategories();
    }
}
</script>

<style scoped>
.start {
  padding: 3rem 15%;
}
.start__title {
    background: white;
    border: 2px solid black;
    border-radius: 40px;
    padding: .25em 0;
    font-weight: bold;
    font-size: 4.5rem;
}

.start-settings {
    display: flex;
    height: 65%;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 4em;
}

.start-settings__label {
    background: white;
    border: 2px solid black;
    border-radius: 40px;
    font-weight: bold;
    font-size: 1.5rem;
    padding: .15em 2em;
}

.start-settings__select, 
.start-settings__input {
    border: 2px solid black;
    font-size: 1.5rem;
    text-align-last: center;
    min-width: 14rem;
}

.start-settings__input{
    width: 14rem;
    padding-left: 10px;
    text-align: center;
}

.start__button {
    padding: 1rem 3.5rem;
    font-size: 2rem;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 35px;
    margin-top: 1em;
    background: #70E000;
}

.gameError {
    background: red;
    border: 2px solid black;
    border-radius: 40px;
    margin-top: 2em;
    font-weight: bold;
    font-size: 3rem;
    padding: 1em;
}
</style>