<template>
  <section class="result">
        <h1 class="result__title">Result</h1>
        <div class="result-feedback">
            <div class="result-feedback__score">
                <p>You scored <strong>{{ getResult.score }}</strong> out of <strong>{{ getResult.maxScore }}</strong></p>
            </div>
            <div class="result-feedback-wrap">
                <table class="result-feedback-table">
                    <thead>
                        <tr>
                            <th>Question</th>
                            <th>Your answer</th>
                            <th>Correct answer</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="answer in getResult.answers" :key="answer.id">
                            <td v-html="answer.question" align="left"></td>
                            <td v-html="answer.answer"></td>
                            <td v-html="answer.correct_answer"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="result-actions">
            <button class="result-actions__button" @click="goToMenu">
                <i class="fa fa-bars" aria-hidden="true"></i> Menu
            </button>
            <button class="result-actions__button" @click="fetchQuestions">
                <i class="fa fa-repeat" aria-hidden="true"></i> Replay
            </button>
        </div>
  </section>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
export default {
    name: 'Result',
    computed: {
        ...mapGetters(['getResult'])
    },
    methods: {
        ...mapActions(['fetchQuestions']),
        goToMenu() {
            this.$router.push('/');
        }
    }
}
</script>

<style scoped>
.result {
  padding: 3rem 15%;
}

.result__title {
    background: white;
    border: 2px solid black;
    border-radius: 40px;
    padding: .1em 0;
    font-weight: bold;
    font-size: 4rem;
}

.result-feedback {
    background: white;
    border: 2px solid black;
    border-radius: 40px;
    margin: 2em 0;
    padding: 1.5em;
}

.result-feedback__score {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.result-feedback-wrap {
    overflow-y: scroll;
    max-height: 350px;
}

.result-feedback-table {
    border-collapse: collapse;
    width: 100%;
}

.result-feedback-table th,
.result-feedback-table td {
    border-bottom: 1px solid #ddd;
    padding: 8px;
}

.result-feedback-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.result-feedback-table tr:hover {
    background-color: #ddd;
}

.result-feedback-table th {
    color: white;
    background: #174578;
}

.result-actions {
    display: flex;
    justify-content: space-around;
}

.result-actions__button{
    padding: 1rem 3.5rem;
    font-size: 2rem;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 35px;
    background: white;
}

</style>