<template>
    <section v-if="getQuestion" class="question">
        <div class="question__counter">Question {{ currentQuestion + 1 }} of {{ numberOfQuestions }}</div>
        <div class="question-wrapper">
            <div class="question__question-box">
                <p v-html="getQuestion.question"></p>
            </div>
            <div class="question-answers">
                <button v-for="(answer, index) in getQuestion.answers" :key="index" @click="setQuestionAnswer(answer)" class="question-answers__answer" v-html="answer">
                </button>
            </div>
        </div>
    </section>
</template>

<script>
import { mapState, mapMutations, mapGetters } from 'vuex';
export default {
    name: 'Question',
    computed: {
        ...mapState(['currentQuestion']),
        ...mapGetters(['numberOfQuestions','getQuestion'])
    },
    methods: {
        ...mapMutations(['setQuestionAnswer'])
    }
}
</script>

<style scoped>
.question__counter {
    background: white;
    border: 2px solid black;
    border-radius: 40px;
    font-weight: bold;
    width: 13rem;
    margin: 1.5em;
    padding: .5em;
}

.question-wrapper {
    padding: 2em 15%;
}

.question__question-box {
    background: white;
    border: 2px solid black;
    border-radius: 40px;
    font-weight: bold;
    font-size: 2rem;
    padding: 3.5rem;
}

.question-answers {
    margin-top: 5em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20%;
    row-gap: 30%;
}

.question-answers__answer {
    background: white;
    border: 2px solid black;
    border-radius: 30px;
    font-weight: bold;
    font-size: 1.5rem;
    padding: .8em .5em;
}
</style>