<template>
  <main id="app">
    <router-view />
  </main>
</template>

<script>
export default {
  name: 'App',
}
</script>

<style>
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

body {
  /* background: blue; */
  background-image: url('/moroccan-flower-dark.png');
  background-image: url('https://www.toptal.com/designers/subtlepatterns/patterns/moroccan-flower-dark.png');
}

#app {
  display: grid;
  text-align: center;
  height: 100vh;
}
</style>
